/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
   font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.card{
    width: calc(100% / 3 - 10px);
    position: relative;
    margin-bottom: 6rem;
}

.sale-box{
    background-color: red;
    position: absolute;
    bottom: 2rem;
    left: 0;
}

.green-wash{
    background-color: green;
    position: absolute;
    bottom: 2rem;
    left: 2.7rem;
}

.whish-list{
    padding: 0.7rem 1rem;
    font-size: 2em;
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 0;
}

.label{
    line-height: 1.5rem;
    padding: .1rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}

.product-name{
    font-size: 1.5 rem;
    font-weight: 600;
}

.actual-price{
    color: red;
    font-weight: 700;
}

.old-price{
    text-decoration: line-through ;
    font-weight: 500;

}

.first-pic{
    position: absolute;
    left: 0;
    top: 0;
}

 .card:hover .first-pic{
    display: none;
}

.whish-list:hover {
    color: red;
}

/* HEADER */

header{
    background-color: rgb(255, 115, 0);
    color: white;
    max-height: 50px;
    box-shadow: 10px 5px 5px grey;    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
}

.top-page{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo img{
    /* debug togliere width appena bloccata l'altezza al div logo */
    width: 140px;
    padding-top: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* MAIN */

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}


.product-infos{
    position: absolute;
    bottom: -4rem;
    left: 0;

}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    height: 100px;
    padding: 20px 0

}

.bottom-page{
    display: flex;
    justify-content: space-between;
}

footer h5{
    font-size: 0.9em;
    padding: .5em 0 1em;
}   

i{
    padding: 0 .3em;
}


