/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
   font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.card{
    width: calc(100% / 3 - 10px);
    position: relative;
    margin-bottom: 6rem;
}

.sale-box{
    background-color: red;
}

.green-wash{
    background-color: green;
}

.whish-list{
    /* padding: 0.7rem 1rem; meglio non usarlo se la forma da ottenere deve essere precisa, o cambierà a seconda del contenuto */ 
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 2em;
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 0;
}

/* 
Problema: Allo strecciare della pagina, le label (con sconto e sostenibilità)  non si mettevano uno sotto l'altro ma uscivano anzi dal box con l'immagine
Motivo: Non si riadattavano al restringimento del contenitore immagine andando una sotto l'altra perchè erano state impostate come label indipendenti con singole posizioni assolute nel box immagine
Soluzione: Inserire i label in un contenitore (label-box) e dare a quel contenitore e non a loro una posizione assoluta, in modo che allo strecciare della pagina il contenitore resti fisso ma loro si riposizionino all'interno del contenitore. 
*/

.label-box{
    line-height: 2rem;
    padding: .5rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    left: 0;
}

.product-name{
    font-size: 1.5 rem;
    font-weight: 600;
}

.actual-price{
    color: red;
    font-weight: 700;
}

.old-price{
    text-decoration: line-through ;
    font-weight: 500;

}

.first-pic{
    position: absolute;
    left: 0;
    top: 0;
}

 .card:hover .first-pic{
    display: none;
}

.whish-list:hover {
    color: red;
}

/* HEADER */

header{
    background-color: rgb(255, 115, 0);
    color: white;
    max-height: 50px;
    box-shadow: 10px 5px 5px grey;    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
}

.top-page{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo img{
    /* debug togliere width appena bloccata l'altezza al div logo */
    width: 140px; 
    padding-top: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* MAIN */

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}


.product-infos{
    position: absolute;
    bottom: -4rem;
    left: 0;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    height: 100px;
    padding: 20px 0

}

.bottom-page{
    display: flex;
    justify-content: space-between;
}

footer h5{
    font-size: 0.9em;
    padding: .5em 0 1em;
}   

i{
    padding: 0 .3em;
}


